*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
}

.nav-container
{
    font-size: 1.3rem;
    display: flex;
    padding: 6px;
    align-items: center;
}

.list-nav
{
    list-style: none;
}

.list-nav li
{
    display: inline-block;
    text-decoration: none;
    padding: 0px 15px 0px 0px;
    cursor: pointer;
}

.list-nav li a
{
    text-decoration: none;
    color: black;
}

.list-nav li a:hover
{
    text-decoration: underline;
}

.logo-nav
{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
}

.logo-nav:hover
{
    background-color: rgb(170, 170, 170);
}

.logo-nav img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.button-nav
{
    font-size: 1.4rem;
    color: white;
    background-color: #1A73E8;
    padding: 9px 23px;
    border: none;
    border-radius: 4px;
    margin: 0 8px;
    cursor: pointer;
}

.button-nav:hover
{
    box-shadow: 0px 0px 2px #1A73E8;
}

.main-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-principal
{
    width: 100%px;
    max-height: 97px;
    margin-bottom: 20px;
}

.img-principal img
{
    width: 272px;
    height: 92px;
}

.search-container
{
    width: 582px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    padding: 5px 8px 0px 14px;
}

.search-container:hover
{
    box-shadow: 1px 1px 5px #ced0d5
}

.icon-search
{
    padding-right: 13px;
    width: 20px;
    height: 20px;
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.search
{
    outline: none;
    width: 487px;
    height: 34px;
    border: none;
}

.icon-voz
{   
    padding: 0px 8px;
    width: 40px;
    height: 40px;
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.buttons-main
{
    padding-top: 14px;
}

.buttons-main button
{
    margin: 11px 4px;
    background-color: #f8f9fa;
    width: 168px;
    height: 36px;
    border: none;
    padding: 0px 16px;
    font-size: 1.4rem;
    border-radius: 4px;
    color: #4d5156;
}

.idioma
{
    font-size: 1.3rem;
    color: #4d5156;
    margin-top: 20px;
}

.idioma a
{
    color: #1a0adb;
    text-decoration: none;
}

.idioma a:hover
{
    text-decoration: underline;
}

.footer-container
{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.section-one,
.section-two
{
    width: 100%;
    height: 48px;
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #f8f9fa;
    color: #70757a;
}

.section-one
{
    border-bottom: 1px solid #dadce0;
}

.section-two
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

.section-two_one a,
.section-two_two a
{
    text-decoration: none;
    color: #70757a;
    padding: 15px;
}

.section-two_one a:hover,
.section-two_two a:hover
{
    text-decoration: underline;
}
